header{
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
}

.logo{
    padding: 10px 15px;
}

nav {
    
    ul{
    display: flex;
    margin-bottom: 0%;
    }
}

li {
    background-color: rgb(111, 111, 111);
    list-style: none;
    padding: .3em;
    margin: .2em;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(253, 253, 253);

    &:hover{
        color: rgb(44, 44, 44);
    }
}